
  <mat-card class="container">
    <form (ngSubmit)="onSave(personForm)" #personForm="ngForm">
    <div class="form-field">
      <div>
      <p>First name</p>
      <mat-form-field>
      <input matInput [(ngModel)]="person.firstName"
             type="text"
             id="firstName"
             name="firstName"
             placeholder="first name"
             #firstName="ngModel"
             ngModel required
             minlength="2"
             pattern="([A-zÀ-ž\s-]){2,}">
      </mat-form-field>
      </div>
      <div *ngIf="firstName.invalid && firstName.dirty" class="error-message">
        <p *ngIf="firstName.hasError('pattern')">Name has invalid characters</p>
        <p *ngIf="firstName.hasError('minlength')">Name is too short</p>
      </div>
    </div>
    <div class="form-field">
      <div>
      <p>Last name</p>
      <mat-form-field>
      <input matInput [(ngModel)]="person.lastName"
             type="text"
             id="lastName"
             name="lastName"
             #lastName="ngModel"
             ngModel required
             minlength="2"
             pattern="([A-zÀ-ž\s]){2,}">
      </mat-form-field>
      </div>
      <div *ngIf="lastName.invalid && lastName.dirty" class="error-message">
        <p *ngIf="lastName.hasError('pattern')">Name has invalid characters</p>
        <p *ngIf="lastName.hasError('minlength')">Name is too short</p>
      </div>
    </div>
      <div class="form-field">
        <div>
        <p>Username</p>
        <mat-form-field>
          <input matInput [(ngModel)]="person.id"
                 type="text"
                 id="personId"
                 name="personId"
                 #personId="ngModel"
                 ngModel required
                 pattern="([A-z0-9\s-_]{5,})">
        </mat-form-field>
        </div>
        <div *ngIf="personId.invalid && personId.dirty" class="error-message">
          <p *ngIf="personId.invalid">Username has invalid characters</p>
        </div>
      </div>
    <div class="form-field">
      <div>
      <p>Email</p>
      <mat-form-field>
      <input matInput [(ngModel)]="person.email"
             type="text"
             id="email"
             name="email"
             #email="ngModel"
             ngModel required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      </mat-form-field>
      </div>
      <div *ngIf="email.invalid && email.dirty" class="error-message">
        <p *ngIf="email.invalid">Email is in wrong format or has invalid characters</p>
      </div>
    </div>
    <div class="form-field">
      <div>
      <p>Password</p>
      <mat-form-field>
      <input matInput [(ngModel)]="person.password"
             type="password"
             id="password"
             name="password"
             #password="ngModel"
             ngModel
             required minlength="10"
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}">
      </mat-form-field>
      </div>
      <div *ngIf="password.invalid && password.dirty" class="error-message">
        <p *ngIf="password.hasError('pattern')">Password has invalid characters</p>
        <p *ngIf="password.hasError('minglength')"></p>
      </div>
    </div>
      <div class="form-field">
        <div>
        <p>Confirm password</p>
        <mat-form-field>
          <input matInput
                 type="password"
                 id="passwordConfirm"
                 name="passwordConfirm"
                 #passwordConfirm="ngModel"
                 ngModel required
                 pattern="{{password.value}}">
        </mat-form-field>
        </div>
        <div *ngIf="passwordConfirm.invalid && passwordConfirm.dirty" class="error-message">
          <p *ngIf="passwordConfirm.value !== password.value">Passwords do not match</p>
        </div>
      </div>
    <div>
      <input type="checkbox"
             id="termsAndConditions"
             name="termsAndConditions"
             #termsAndConditions="ngModel"
             ngModel required>
      <div *ngIf="termsAndConditions.invalid && (termsAndConditions.touched || termsAndConditions.dirty)" class="error-message">
        <p *ngIf="termsAndConditions.hasError('required')">Accept terms and conditions</p>
      </div>
    </div>
    <button mat-icon-button class="checkButton" type="submit" (click)="onSave(personForm)" [disabled]="!personForm.valid">
      <i class="material-icons">check_circle_outline</i>
    </button>
    </form>
  </mat-card>

