.background {
  padding: 3vh 10% 5%;
  background-color: rgba(15, 15, 20, 0.7);
}

#title{
  text-align: center;
}

.accordion-container{
  margin-top: 2vh;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.text-container {
  padding-left: 10px;
}
